<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid p-3">
    <a class="navbar-brand" href="#">My web project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {{#unless userLoggedIn}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
        </li>
        {{/unless}}

        {{#if userLoggedIn}}
        {{#unless isEmployer}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/applied_jobs">My jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/worker_jobs">All jobs</a>
        </li>
        {{/unless}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        {{/if}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>