body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00b7ff;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #c5d4e2;
}

/* Sign in Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
