<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{> externals }}
</head>

<body>
  {{> header }}
  <div class="container">
    <h1 class="mt-3">
      Hello {{user.local.firstName}}
    </h1>
  </div>
  {{> footer}}
</body>

</html>